@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --hp-primary: #C8A951;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-kaushan-script: var(--font-kaushan-script);
  --font-roboto: var(--font-roboto);
  --color-hp-primary: var(--hp-primary);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-roboto);
}

h1 {
  font-family: var(--font-kaushan-script);
  font-size: 24px;
}

p {
  font-family: var(--font-roboto);
  font-size: 14px;
}
